*{
    margin: 0;
    padding: 0;
    font-family: 'works sans'
}
/* nav style */
nav{
    background-color: #D5D2D2;
    display: flex;
    justify-content: space-around;
    padding: 35px 0;
    font-family: 600;
}
.nav-left{
    display: flex;
    justify-content: center;
}
.nav-left-title{
    font-size: 24px;
    margin-top: 10px;
    color: #00FFFF;

}
.nav-right ul{
    display: flex;
    gap: 24px;
    list-style: none;
    font-size: 22px;
}
/* header style */
header{
    background-image: linear-gradient(rgb(2, 2, 2), rgba(236, 221, 221, 0)),url('./asset/image/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-bottom: 50px;

}
.header-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 130px;
    color:#FFFFFF;

}
.header-content-title{

    font-size: 95px;
    font-weight: 800;
    
}
.header-digital{
    color: #F52C2C;
}
.header-content-description{

    font-size: 25px;
    padding: 25px 0;
}
.header-btn{
 display: flex;
 gap: 30px;
 justify-content: center;
 
}
.header-btn-left{
   
    background-color: #F52C2C;
    padding: 15px 30px;font-size: 25px;
    font-weight: 500;
    border: 0;
   }
    
.header-btn-right{
    background-color: #F0F0F0;
    padding: 15px 30px;font-size: 25px;
    font-weight: 500;
    border: 0;
}
/*  main section style */

.service{
   
    background-image: linear-gradient(to bottom,rgb(7, 4, 4),rgba(0, 1, 1, .9)),url('./asset/image/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 950px;
    color: #BECFD0;
    display: flex;
    justify-content:space-between;

}

/* service-content-left */
.service-content-left{
    margin-top: 130px; 
    margin-left: 50px;
    width: 43%;

}
.service-btn-top{
    padding: 15px 45px;
    font-size: 20px;
    border-radius: 40px;
    color: #908080;
    background-color: #FFFFFF;

}
.service-content-left-title{
 font-size: 45px;
 font-weight: 700;
 padding: 20px 0;
}
.service-content-left-descript{
    font-size: 22px;
    font-weight: 600;
   padding-bottom: 30px;

}
.service-content-left-list{
    font-size: 20px;
    font-weight: 400;
   padding-bottom: 20px;
   margin-left: 20px;

}
.service-content-left-imgcont{
    display: flex;
    gap: 24px;
    margin-top: 15px;
    align-items: center;

}
.service-content-left-gorge{
    width: 300px;
    gap: 10px;
    display: flex;
    align-items: center;
    border-right: 3px solid rgb(189, 19, 19);
    

}
.service-content-left-gorge img{
    height: 80px;
    width: 80px;
    border-radius: 50%;

}
.service-content-left-gorge p{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;

}
.service-btn-bottom{
   height: 55px;
   width: 190px;
    font-size: 20px;
    border-radius: 40px;
    color: #F52C2C;
    background-color: #FFFFFF;

}

/* service-content-right */
.service-content-right{
    
    height: 500px;
    width: 47%;
    margin-top: 50px;
    margin-right: 30px;

}
.ervice-content-right-items{

    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin-bottom: 20px;
}
.ervice-content-right-item{
    background: #FFFFFF;
    padding: 80px;
    border-radius: 5px;

}
.ervice-content-right-item img{
    width: 100px;
    height: 100px;
    
}
.ervice-content-right-item h4{
    
    color: #000;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid rgb(189, 19, 19);
    
}
/* red-box style */
.red-box{
    width: 80%;
    height: 250px;
    background-color: #F52C2C;
    margin: 0 auto;
    margin-top: -140px;
    border-radius: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 10px;

}

.red-box-left{
    display: flex;
    gap: 24px;
    margin-left: 30px;
    border-right: 3px solid #808080;
    width: 390px;
    height: 200px;
   

}
.red-box-left img{
    width: 150px;
    height: 150px;
    margin-top: 40px;

}
.red-box-left p{
    padding: 60px 0;
    font-weight: 600;
    font-size: 14px;
    
}

.red-box-left strong{
    font-size: 40px;

}

/* red-box-right */
.red-box-right{
    display: flex;
    gap: 24px;
    width: 720px;
    /* height: 150px; */
    

}
.red-box-right p{
   
    line-height: 25px;

}
.red-box-right-btn{
    padding: 15px 45x;
    font-size: 20px;
    border-radius: 35px;
    border: 0;

}
.blog-container{
    height: 100vh;
}